/**
*
**/
.window {
    height: 8em;
    overflow: auto;
    margin: 1em;
    padding: 1em;
    border: 10px solid #DFEAF2;
  }
  /**
  Esto se debe usar cuando se pone el navbar fixed-top

body{
  min-height: 75rem;
  padding-top: 4.5rem;
}    */
/**
*  Main div container
**/
div[id="appMainViewContainer"] {
  background-color: #025268;
  opacity: 1;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #025268 4px ), repeating-linear-gradient( #6065a555, #6065a5 );
  padding-top: 25px;
  padding-bottom: 60px;
  /**position: fixed;  Esto hace que no haya scroll, Si se pone se extira y hace la pantalla fija, hay que huir de ello creo yo**/
  height: 100%;
  width: 100%;
}


/**************
 Text Utilities
**************/
/** Menu options typography **/
.nav-menu-item-typo {
  font-size: 2.25rem;
  font-family: 'Brush Script MT', cursive;
}

/** TEXT COLORS **/
/* .nav-menu-item-text-color-black {
  font-size: 2.25rem;
  color: black !important; 
}
.nav-menu-item-text-color-black:hover, .nav-menu-item-text-color-black:active {
  font-size: 2.25rem;
  color: gray !important; 
}
.nav-menu-item-text-color-white {
  font-size: 1.25rem;
  color: white !important; 
  font-family: 'Brush Script MT', cursive;
}
.nav-menu-item-text-color-white:hover, .nav-menu-item-text-color-white:active {
  font-size: 1.25rem;
  color: white !important; 
  font-family: 'Brush Script MT', cursive;
} */



/* @font-face {
  font-family: emberlyBlackItalic;
  src: url(../fonts/emberly/TTF/Emberly-ExtraLight.ttf);
}

.lettering {
  font-family: emberlyBlackItalic;
} */

.px-2 {
  padding-left: ($spacer * .5) !important;
  padding-right: ($spacer * .5) !important;
}

.textTwoLines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2; 
  -webkit-box-orient: vertical;
}
.textTreeLines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
          line-clamp: 3; 
  -webkit-box-orient: vertical;
}

.card-top-rigth-container {
  position: absolute;
  top: 8px; 
  right: 16px;
}

.card-top-rigth-icon {
  height: 25px;
  width: 25px;
}
