<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Test Layout 1</title>

    <!-- ThirdParty dependencies-->
    <!-- CSS-->
    <link rel="stylesheet" href="../../thirdparty/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../thirdparty/css/font-awesome.min.css">


    <!-- JS-->
    <script src="../../thirdparty/js/jquery.min.js"></script>
    <script src="../../thirdparty/js/popper.min.js"></script>
    <script src="../../thirdparty/js/bootstrap.min.js"></script>
    <script src="../../thirdparty/js/jquery.tmpl.min.js"></script>
    
    <!--Laurbe current Test components-->
    <link rel="stylesheet" href="../../stylesheets/classicTemplate.css">

    <script src="../../javascript/core/laurbe.js"></script><!-- 1. Always included-->
    <script src="../../javascript/components/app/app.js"></script><!-- 2. Always included-->
    <script src="../../javascript/components/app/view.js"></script><!-- 3. Always included-->
    <script src="../../javascript/core/navigatorManager.js"></script><!-- 4. Always included-->
    <script src="../../javascript/core/shareSocialManager.js"></script><!-- 5. Always included-->
    <script src="../../javascript/components/navbar.js"></script><!-- 6. Always included-->
    <script src="../../javascript/components/navbarMenuItem.js"></script><!-- 7. Always included-->

    <script src="../../javascript/components/layout.js"></script>
    <script src="../../javascript/components/region.js"></script>
    <script src="../../javascript/components/navbarbottom.js"></script>
    <script src="../../javascript/components/navbarBottomMenuItem.js"></script>

    <script src="../../javascript/components/button.js"></script>
    <script src="../../javascript/components/buttonGroup.js"></script>
    <script src="../../javascript/components/container.js"></script>
    <script src="../../javascript/components/cardGroup.js"></script>
    <script src="../../javascript/components/card.js"></script>
    

    <script src="../../javascript/data/dao.js"></script>
    <script src="../../javascript/data/localStorageManager.js"></script>
    
  </head>
    <body>
        <!-- 1. Define the wrapper for layout-->
        <div id="layoutDiv"></div>
    </body>	

    
    <!--Initialization-->
    <script type="text/javascript">
	    $( document ).ready(function() {

            // laurbe.templateManager.templatePath='http://localhost:8888/src/';


	        // var layout = new laurbe.Layout({
	    	// 	//renderTo:'layoutDiv',
	    	// 	items: [
			// 		new laurbe.Region({
			// 			text:'Region1',
			// 			items:[
            //                     new laurbe.Region({
            //                         text:'subRegion1.1'
            //                     })
			// 			]

			// 		}),
			// 		new laurbe.Region({
			// 			text:'Region2',
			// 			items:[
			// 					new laurbe.Layout({
			// 								items:[
			// 									new laurbe.Region({
			// 										text:'subRegion2.1'
			// 									}),
			// 									new laurbe.Region({
			// 										text:'subRegion2.2'
			// 									}),
			// 								]	

			// 					})

			// 			]

			// 		}),
			// 		new laurbe.Region({
			// 			text:'Region3',
			// 			items:[
            //                 new laurbe.Layout({
            //                             items:[
            //                                 new laurbe.Region({
            //                                     text:'subRegion3.1'
            //                                 }),
            //                                 new laurbe.Region({
            //                                     text:'subRegion3.2'
            //                                 }),
            //                             ]	

            //                 })
			// 			]
			// 		})
			// 	]
	    	// });

	        
            // var layout_app = new laurbe.App({
	        //                     title:'DemoLayouts',
            //                     views:[
            //                         new laurbe.View({
            //                             menuName:'LayoutsDemo',
            //                             id: 'LayoutsDemo',
            //                             items:[layout]  //Always inside array
            //                         })
            //                     ]
            // });

		    // layout_app.init();
            // alert('rendered!');



 

	

var mySessionsView = new laurbe.View({
				menuName:'MySessions',
				id: 'MySessions_View',
				items:[
					new laurbe.Container({
							items:[
								new laurbe.CardGroup({
											items: [
												new laurbe.Card({
													title:'And Justice For All',
													text:'Full Album Cover session',
													footMessage:'Metal, Metallica',
													img:{
														src: 'https://www.thomann.de/pics/bdb/128185/12948444_800.jpg',
														alt: 'Metallic Aftenoon'
													}
												})
											]
								})
							]

					}),
					new laurbe.Container({
							items:[
								new laurbe.CardGroup({
											items: [
												new laurbe.Card({
													title:'And Justice For All',
													text:'Full Album Cover session',
													footMessage:'Metal, Metallica',
													img:{
														src: 'https://www.thomann.de/pics/bdb/128185/12948444_800.jpg',
														alt: 'Metallic Aftenoon'
													}
												})
											]
								})
							]

					}),
					new laurbe.Container({
							items:[
								new laurbe.CardGroup({
											items: [
												new laurbe.Card({
													title:'And Justice For All',
													text:'Full Album Cover session',
													footMessage:'Metal, Metallica',
													img:{
														src: 'https://www.thomann.de/pics/bdb/128185/12948444_800.jpg',
														alt: 'Metallic Aftenoon'
													}
												})
											]
								})
							]

					})
				]
});






var vulgus_app = new laurbe.App({
	title:'Music Arena',
	navBar:{
		brand:{
			logoUrl:'https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-outline.svg'
		},
		searchTool:{
			placeholder:'que estas buscando..?'
		}
	},
	views:[	
			mySessionsView
			 ],
	dao: new laurbe.RestDAO({
					//basePath:'http://localhost:3000/laurbe'
					basePath:'.'
	}),
	storageManager: new laurbe.LocalStorageManager({
			
	}),  	
	bottomNavBar:{
		items:[
					
		]
	}
});
vulgus_app.init();

		});
    </script> 
  
</html>