<!--https://mdbootstrap.com/docs/standard/components/list-group/#-->
<script id="choiceButtonListTemplate" type="text/x-custom-template">
<div class="list-group list-group-light" style="overflow:hidden; overflow-y:scroll;">

    {{each slots}}
    <button type="button" class="list-group-item list-group-item-success px-3 border-0">
      ${start}
    </button>
  {{/each}}

    
  </div>
</script>
<!--
  
  


<div class="list-group list-group-light">
  <button type="button" class="list-group-item list-group-item-action px-3 border-0 active"
    aria-current="true">
    11:25
  </button>
  <button type="button" class="list-group-item list-group-item-success px-3 border-0">
    12:15
  </button>
  <button type="button" class="list-group-item list-group-item-success px-3 border-0">
    13:45
  </button>
  <button type="button" class="list-group-item list-group-item-action px-3 border-0">
    14:50
  </button>
  <button type="button" class="list-group-item list-group-item-warning px-3 border-0">
    15:00
  </button>
  <button type="button" class="list-group-item list-group-item-action px-3 border-0">
      16:45
  </button>
  <button type="button" class="list-group-item list-group-item-action px-3 border-0">
      17:30
  </button>
</div>
-->