<script id="validateCodeLoginTemplate" type="text/x-custom-template">
    <button type="button" id="${id}_ShowBtn" class="btn btn-info btn-round" data-toggle="modal" data-target="#${id}_Modal" style="
    display:none;">
 Login
 </button>  
 <div class="modal fade" id="${id}_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
       <div class="modal-content">
          <div class="modal-header border-bottom-0">
             <button id="${id}_close_button" type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">×</span>
             </button>
          </div>
          <div class="modal-body">
             <div class="container d-flex justify-content-center align-items-center">
                <div class="card">
                   <div class="p-3 border-bottom d-flex align-items-center justify-content-center">
                      <h5>Login to Vulgus APP</h5>
                   </div>
                   <div class="p-3 px-4 py-4 border-bottom"> 
                      <span class="line">Introduce el codigo de Validacion</span>
                      <input type="text" class="form-control mb-2" placeholder="#ABf35gTZ" />
                      <button id="${id}_continue_button" class="btn btn-primary btn-block login-continue">continue</button>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 
</script>  